<div
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="1em"
  class="users-wrapper"
  *ngIf="{
    canClear: canClear$ | async,
    canFilterBySelection: canFilterBySelection$ | async,
    canSelect: canSelect$ | async,
    canUnfilter: canUnfilter$ | async,
    deleteDisabled: deleteDisabled$ | async,
    isLoading: isLoading$ | async,
    isAllSelected: isAllSelected$ | async,
    users: users$ | async,
    searchTerm: searchTerm$ | async,
    selectAll: selectAll$ | async
  } as asyncData"
>
  <h1>Users</h1>
  <mat-divider></mat-divider>
  <app-users-actions-panel
    [canClear]="asyncData.canClear!"
    [canFilterBySelection]="asyncData.canFilterBySelection!"
    [canSelect]="asyncData.canSelect!"
    [canUnfilter]="asyncData.canUnfilter!"
    [deleteDisabled]="asyncData.deleteDisabled!"
    [isAllSelected]="asyncData.isAllSelected!"
    [searchTerm]="asyncData.searchTerm!"
    (emitClear)="handleClear()"
    (emitFilterBySelection)="handleEmitFilterBySelection()"
    (emitSearch)="handleSearch($event)"
    (emitSelectAll)="handleSelectAll($event)"
    (emitUnfilter)="handleUnfilter()"
  ></app-users-actions-panel>
  <mat-divider></mat-divider>
  <app-users-list
    [isLoading]="asyncData.isLoading!"
    [users]="asyncData.users!"
    [selectAll]="asyncData.selectAll!"
    (emitSelectedUsers)="handleSelectedUsers($event)"
  ></app-users-list>
</div>
